---
layout: default
---
<h1 id={{ page.h1 | replace: ' ', '_'}}>{{ page.h1 }}</h1>
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#preop" aria-controls="preop" role="tab" data-toggle="tab">Pré-opératoire</a></li>
    <li role="presentation"><a href="#postop" aria-controls="postop" role="tab" data-toggle="tab">Post-opératoire</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    {% assign tabs = content | split:"<h1" %}
    {% for page in tabs %}
      {% if forloop.first == false %}
        {% case forloop.index %}
          {% when 2 %}
          <div role="tabpanel" class="tab-pane active" id="preop">{{ page | collapse }}</div>
          {% when 3 %}
          <div role="tabpanel" class="tab-pane" id="postop">{{ page | collapse }}</div>
        {% endcase %}
      {% endif %}
    {% endfor %}
    </div>
</div>
