---
layout: default
---
<h1 id={{ page.h1 | replace: ' ', '_'}}>{{ page.h1 }}</h1>
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#complications" aria-controls="complications" role="tab" data-toggle="tab">Complications</a></li>
    <li role="presentation"><a href="#inscription" aria-controls="inscription" role="tab" data-toggle="tab">Inscription à la liste d'attente</a></li>
    <li role="presentation"><a href="#attente" aria-controls="attente" role="tab" data-toggle="tab">Phase d'attente</a></li>
    <li role="presentation"><a href="#appel" aria-controls="appel" role="tab" data-toggle="tab">L'appel à la greffe</a></li>
    <li role="presentation"><a href="#suivi" aria-controls="suivi" role="tab" data-toggle="tab">Le suivi</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    {% assign tabs = content | split:"<h1" %}
    {% for page in tabs %}
      {% if forloop.first == false %}
        {% case forloop.index %}
          {% when 2 %}
          <div role="tabpanel" class="tab-pane active" id="complications">{{ page | collapse:forloop.index }}</div>
          {% when 3 %}
          <div role="tabpanel" class="tab-pane" id="inscription">{{ page | collapse:forloop.index }}</div>
          {% when 4 %}
          <div role="tabpanel" class="tab-pane" id="attente">{{ page | collapse:forloop.index }}</div>
          {% when 5 %}
          <div role="tabpanel" class="tab-pane" id="appel">{{ page | collapse:forloop.index }}</div>
          {% when 6 %}
          <div role="tabpanel" class="tab-pane" id="suivi">{{ page | collapse:forloop.index }}</div>
        {% endcase %}
      {% endif %}
    {% endfor %}
    </div>
</div>
